.AnchorPane {
    -fx-pref-width: 300;
    -fx-pref-height: 400;
    -fx-background-color: white;
}

.button {
    -fx-background-color: #acaaaa;
    -fx-background-radius: 5px;
    -fx-pref-width: 100;
    -fx-pref-height: 50;
    -fx-font-size: 16;
}

.FlowPane {
    -fx-background-color: white;
    -fx-pref-width: 300;
    -fx-pref-height: 200;
    -fx-alignment: Bottom_Center;
}

.label {
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-font-size: 13;
    -fx-alignment: Center;
}

.backButton {
    -fx-background-color: white;
    -fx-pref-width: 40;
    -fx-pref-height: 10;
    -fx-font-size: 13;
}